@keyframes slideInRight {
  from { right: -1180px; }
    to { right: 0; }
}
@keyframes slideInLeft {
  from { left: -1180px; }
    to { left: 0; }
}
/*
 * ----------------------------------------
 * animation color-change-4x
 * ----------------------------------------
 */
@-webkit-keyframes color-change-4x {
  0% {
    background: #FFFDA1;
  }
  33.3333% {
    background: #3AC488;
  }
  66.666% {
    background: #71C7FF;
  }
  100% {
    background: #AD9DC5;
  }
}
@keyframes color-change-4x {
  0% {
    background: #FFFDA1;
  }
  33.3333% {
    background: #3AC488;
  }
  66.666% {
    background: #71C7FF;
  }
  100% {
    background: #AD9DC5;
    }
}


html, body {
    background-color: white;
    font-family: 'Rubik', sans-serif !important;
    font-size: 20px !important;
    font-weight: 300 !important;
    line-height: 30px !important;
    height: 100%;
}

p {
    color: #393939;
    display: block;
    padding-top: 25px;
    font-weight: 300;
}
table {
    margin-bottom: 50px;
    margin-top: 0;
    padding-top: 0;
}
td {
    padding: 30px 20px !important;
}
tr {
    border-bottom: 1px solid #696969;
}
tr:last-child {
    border-bottom: none;
}
button {
    z-index: 10;
}
canvas {
background: transparent;
display: block;
position: fixed;
left: 85%;
top: 70%;
transform: translate(-50%, -50%);
    -ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    user-select: none; 
}
img {
    max-width: 100%;
    -ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    user-select: none; 
}
/* DESCTOP */
.pseudo {
    content: "";
    clear: both;
}

.main-img {
    margin: 0;
    margin-right: 1.3em;
    float: left;
}
.name {
    display: block;
    width: 900px;
}
.h-1 {
    font-size: 44px;
    font-weight: 400;
    line-height: 54px;
    color: black;
    display: block;
    position: relative;
    animation: slideInRight 2s ease 1;
}
.small {
    animation: slideInLeft 3s ease 1;
    display: block;
    position: relative;
    font-size: 13px;
    margin-top: 40px;
    text-align: left;
}
.left {
    margin-top: 100px;
}
.right {
    -webkit-transform: translateY(190%);
    -ms-transform: translateY(190%); 
    -moz-transform: translateY(190%);
    transform: translateY(190%);
}

.e-mail a {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    font-variant: small-caps;
    letter-spacing: 2px;
}

.e-mail i {
    font-size: 12px;
    padding-right: 5px;
}

.more {
  float: right;
    color: rgba(0,0,0,0.7);
  position: relative;
  margin: 0 auto 0;
  padding: 0 5px;
    border-bottom: 1px solid #696969;
    cursor: default;
}

.more:hover .additional {
    display: block;
}

.additional {
  color: #000;
  text-align: justify;
  position: relative;
  width: 430px;
  background-color: #fff;
  display: none;
  left: 20px;
  bottom: 445px;
  z-index: 100;
    border: 6px solid #000;
    border-radius: 10px;
    padding: 10px;
}

.info {
  position: absolute;
  margin: 0 auto 0;
  min-height: inherit;
}
.works {
    font-size: 19px;
    line-height: 31px;
    color: #121212;
}
.works a {
    line-height: 22px;
    z-index: 13;
}
.works a span {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}
.works img {
    opacity: 0.8;
}
.works i {
    padding-right: 15px;
    display: inline;
}
.center {
    display: block;
    text-align: center;
    line-height: 48px;
    font-weight: 400;
    color: #121212;
    margin-top: 150px;
    margin-bottom: 105px;
    z-index: 11;
}

/* MOBILE */

.mobile-title {
    font-size: 23px;
    line-height: 29px;
    padding: 150px 0 50px;
    text-align: center;
    letter-spacing: 1px;
}

.mobile-info {
    text-align: left;
}
.color-change-4x-mobile {
        -webkit-animation: color-change-4x 5s linear infinite alternate both;
	        animation: color-change-4x 5s linear infinite alternate both;
    }

/* NAVIGATION */

.mobile-header {
    position: fixed;
    display: block;
    z-index: 500;
    top: 0;
    left: 0;
    right: 0;
    width: 100%; 
    text-align: center;  
    color: white;
    height: 29px;
    font-size: 18px;
    line-height: 29px;
}
.mobile-header>a {
    display: inline-block; 
    width: 100%; 
    text-align: center;  
    color:white !important;
    vertical-align: sub;
}
.navbar-toggle {
    background-color: transparent;
    height: 29px;
    border: medium none;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    padding-right: 1rem;
}
.nav li a {
    font-size: 34px;
    font-weight: 500;
    text-transform: uppercase;
    z-index: 12;
    -webkit-transition: all .25s;
	-ms-transition: all .25s;
    transition: all .25s;
}
.nav li .hover:hover {
    padding-left: 10px;
}

.main_nav {
	padding-top: 100px;
	background-color: white;
    float: left;
}
.main_nav ul {
	list-style: none;
	overflow: hidden;
	text-align: center;
}
.main_nav ul li {
	display: inline-block;
}
.main_nav ul li a { 
font-weight: 400;
line-height: 23px;
text-decoration: none;
color: #121212;
margin-right: 25px;
    z-index: 11;
}
.main_nav ul .hover:hover {
	border-bottom: 1px solid #696969; 
}
.active {
    border-bottom: 1px solid #696969;
}

/* SLIDER */

.clipped-slider {
    position: relative;
    margin: 100px auto;
}
.clipped-slider img {
    max-width: 100%;
}
.next_button, .prev_button {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 10em;
	color: #fff;
	cursor: pointer;
	font-size: 56px;
	padding: 0 25px;
	position: absolute;
	top: 40%;
	z-index: 10;
}
.next_button {
	right: 20px;
}
.prev_button {
	left: 20px;
}

/* FOOTER */

footer {
    margin-top: 80px;
    margin-bottom: 50px;
    max-height: 60px;
    color: #b2b2b2;
    font-size: 13px;
line-height: 23px;
}
footer a {
    color: #b2b2b2 !important;
}
footer i {
    color: #121212;
    padding-right: 5px;
    display: inline;
}
#top {
    cursor:pointer;
	z-index: 10;
    color: #121212;
    border-bottom: 1px solid #393939;
    display: inline;
}
